# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties

# iOS related
**/ios/.symlinks/
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Flutter/ephemeral/

# Firebase / secrets
*.jks
*.keystore
key.properties
.env
.env.*
google-services-desktop.json
serviceAccountKey.json